<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= link_to(media.link,:target => '_blank') do %>
      <%= image_tag(media.images.low_resolution.url, class: 'img-rounded') %>
      <div class="caption">
        <p>
          <i class="fa fa-instagram">&nbsp;</i>
          <%= truncate(media.caption.text, length: 20) if media.caption %>
        </p>
      </div>
    <% end %>
  </div>
</div>

