<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WorlGram", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-right">
        <li>
        <%= link_to "Random", root_path, data: { remote: true, disable_with: 'loading...'} %>
        </li>
      </ul>
    </div>
  </div>
</header>

